*.DS_Store
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.project
.tmpoj


#################
# cake
#################
# Cake TMP Dirs
lib/cakephp/*/tmp/**/*


lib/cakephp/*/tmp/cache/*
!lib/cakephp/*/tmp/cache/
!lib/cakephp/*/tmp/cache/empty

lib/cakephp/*/tmp/cache/models/*
!lib/cakephp/*/tmp/cache/models/
!lib/cakephp/*/tmp/cache/models/empty

lib/cakephp/*/tmp/cache/persistent/*
!lib/cakephp/*/tmp/cache/persistent/
!lib/cakephp/*/tmp/cache/persistent/empty

lib/cakephp/*/tmp/cache/views/*
!lib/cakephp/*/tmp/cache/views/
!lib/cakephp/*/tmp/cache/views/empty

build
nbproject/
.idea
!empty
!.gitkeep