[submodule "app/Plugin/Migrations"]
	path = app/Plugin/Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/slywalker/TwitterBootstrap.git
