*.DS_Store
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.project
.tmpoj


#################
# cake
#################
# Cake TMP Dirs
html/app/tmp/**/*


html/app/tmp/cache/*
!html/app/tmp/cache/
!html/app/tmp/cache/empty

html/app/tmp/cache/models/*
!html/app/
!html/app/tmp/cache/models/
!html/app/tmp/cache/models/empty

html/app/tmp/cache/persistent/*
!html/app/tmp/cache/persistent/
!html/app/tmp/cache/persistent/empty

html/app/tmp/cache/views/*
!html/app/tmp/cache/views/
!html/app/tmp/cache/views/empty

build
nbproject/
.idea
!empty
!.gitkeep